* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

h1 {
    color: white;
}

/* utility */

.display-none {
    display: none;
}
.display-flex {
    display: flex;
}

.justify-ct-center {
    justify-content: center;
}

.justify-ct-sb {
    justify-content: space-between;
}

.align-it-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-di-column {
    flex-direction: column;
}

.pst-absolute {
    position: absolute;
}

.pst-relative {
    position: relative;
}

.pst-fixed {
    position: fixed;
}

.border-circle {
    border-radius: 50%;
}
/* /utility */

/* colors */

.bg-black {
    background-color: black;
}

.c-white {
    color: rgb(255, 255, 255);
}

.bg-black-transparent {
    background-color: black;
}

.bg-gray {
    background-color: #343841;
}

.bg-gray-light {
    background-color: #282828;
}

/* / colors */

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: rgb(204, 70, 70);
}

aside {
    height: calc(100% - 80px);
    padding: 20px 70px 0px 20px;
}

aside :is(h1, h2, h3, h4, h5, h6) {
    color: #7d7f84;
    font-size: 1rem;
    white-space: nowrap;
}

aside li > img {
    width: 30px;
    height: auto;
}

.user {
    bottom: 0;
    left: 0;
}

.fa-solid {
    color: white;
}

main {
    height: 100%;
    flex-grow: 1;

    overflow-y: scroll;

    /* padding: 0px 20px 0px 20px; */
}

.top-bar {
    width: 100%;
    height: 80px;
}

.top-bar button {
    right: 0;
    border: 1px solid white;
    background: none;
    border-radius: 4rem;
    padding: 15px 40px;
    color: white;

    margin-right: 30px;
}

.top-bar > div {
    height: 100%;
}

footer {
    width: 100%;
    height: 80px;

    /*  absolute */
    bottom: 0;
    left: 0;
}

main ul {
    list-style: none;
    margin-top: 80px;

    gap: 20px;
    padding: 15px 0px;
}

main ul :is(a) {
    color: white;
    text-decoration: none;

    font-size: 0.8rem;
    color: #7d7f84;
}

figure {
    width: calc(100% / 6 - 10px);
    height: auto;

    padding: 0;
    margin: 0;
}

figure :is(img) {
    width: 100%;
}

figcaption {
    color: white;
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: center;
}

figcaption :is(span) {
    font-size: 1rem;
}

.recently-played {
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.logo-short {
    display: none;
}

/* tablet */
@media screen and (max-width: 750px) {
    figure {
        width: calc(100% / 4 - 10px);
    }
}

/* mobile */
@media screen and (max-width: 450px) {
    figure {
        width: calc(100% / 2 - 10px);
    }

    aside h1,
    h3,
    h2,
    a,
    .create-play {
        display: none;
    }

    aside {
        padding: 10px 10px 0px 10px;
    }

    .logo-short {
        display: block;
    }

    .logo-regular {
        display: none;
    }
}

footer img {
    height: 100%;
    width: 5%;
}

/* bars */

.bars,
.time-lenght {
    height: 4px;
    border-radius: 2rem;
}

.bars {
    width: 100%;
    background-color: #000000;
}

.time-lenght {
    width: 50%;
    background-color: #c1c1c1;
}

.pointer {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    right: 50%;

    transform: translate(10px, -7px) scale(0);

    transition: all ease-in-out 0.2s;
}

.bars:hover .pointer {
    transform: translate(7.5px, -5.5px) scale(1);
}

.time-lenght:hover {
    background-color: rgb(87, 211, 87);
    transition: all ease-in-out 0.2s;
}

/* / bars */

/* footer */

.commands {
    width: 100%;
    height: 40px;

    gap: 30px;
}

.commands :is(.fa-solid) {
    font-size: 1.5rem;
}

.fa-circle-play {
    transform: scale(1.5);
}

.bars-container {
    width: 100%;
    gap: 20px;
}

.block-center {
    width: 40%;
}

/* footer */
