* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

h1 {
    color: white;
}

/* utility */

.gap-20 {
    gap: 20px;
}

.display-none {
    display: none;
}
.display-flex {
    display: flex;
}

.justify-ct-center {
    justify-content: center;
}

.justify-ct-sb {
    justify-content: space-between;
}

.justify-ct-sa {
    justify-content: space-around;
}

.align-it-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-di-column {
    flex-direction: column;
}

.pst-absolute {
    position: absolute;
}

.pst-relative {
    position: relative;
}

.pst-fixed {
    position: fixed;
}

.border-circle {
    border-radius: 50%;
}
/* /utility */

/* colors */

.bg-black {
    background-color: black;
}

.c-white {
    color: rgb(255, 255, 255);
}

.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.801);
}

.bg-gray {
    background-color: #141922;
}

.bg-gray-light {
    background-color: #282828;
}

/* / colors */

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: rgb(204, 70, 70);
}

aside {
    height: calc(100% - 100px);
    padding: 20px 0px 0px 0px;

    z-index: 200;
}

aside.mobile {
    width: 60px;
    flex-shrink: 0;

    padding-bottom: 20px;

    display: none;
}

aside.mobile * {
    margin: 0;
    border: none;

    z-index: 200;
}

/* pre- mobile */
@media screen and (max-width: 500px) {
    aside.mobile {
        display: flex;
    }

    aside {
        display: none;
    }
}

aside img {
    width: 30px;
    height: auto;

    margin: 0px 5px 0px 10px;
}

.logo-small {
    padding-bottom: 30px;
}

aside h3 {
    font-size: 0.8rem;
    color: #7d7f84;
    margin: 0px 120px 20px 10px;

    white-space: nowrap;
}

.create-play h3 {
    margin: 2px;
    font-size: 1rem;
}

aside h2 {
    font-size: 0.8rem;
    color: #ffffff;
    margin: 20px 0px 5px 10px;
}

aside h3:hover,
aside a:hover {
    color: white;
}

aside a {
    font-size: 0.8rem;
    color: #7d7f84;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0px;
}

aside .fa-square-plus {
    font-size: 3rem;
    margin: 0px 10px 20px 10px;
}

aside li {
    border-left: 3px solid rgba(87, 211, 87, 0);
}
aside li:hover {
    border-left: 3px solid rgb(87, 211, 87);
}

.user {
    width: 100%;
    bottom: 0;
    left: 0;

    padding-bottom: 10px;
}

.create-play {
    margin-bottom: 20px;
}
.user h2 {
    font-size: 1rem;
    color: #ffffff;
}

.user img {
    width: 20px;
}

hr {
    width: 90%;
    margin: 5px auto;
}

.profile {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 10px;

    background: url(spotify/img/profile.svg), linear-gradient(#525252, #525252);
    background-size: cover;
}

aside .fa-solid.fa-square-plus {
    color: #828282;
    height: 100%;
    margin: 0 0 0 10px;
}

.fa-solid {
    color: white;
}

main {
    height: 100%;
    /* flex-grow: 1; */

    overflow-y: scroll;

    padding: 0px 20px 200px 20px;
}

main h1 {
    font-size: 1.6rem;
    margin: 30px 0px 20px 0px;
}

main h3 {
    font-size: 0.8rem;
    margin: 30px 0px;
    color: #7d7f84;
    margin: 0px 0px 30px 0px;
}

.top-bar {
    width: 100%;
    height: 80px;

    z-index: 100;
}

.top-bar button {
    right: 0;
    border: 1px solid white;
    background: none;
    border-radius: 4rem;
    padding: 10px 30px;
    color: white;
    font-size: 0.8rem;

    margin-right: 30px;

    transition: all ease-in-out 0.2s;
}

.top-bar button:hover {
    transform: scale(1.1);
}

.top-bar > div {
    height: 100%;
}

footer {
    width: 100%;
    height: 100px;

    /*  absolute */
    bottom: 0;
    left: 0;

    z-index: 300;
}

main ul {
    list-style: none;
    margin-top: 80px;

    gap: 20px;
    padding: 15px 0px;
}

main li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main li :is(span) {
    height: 3px;
    width: 0%;
    margin-top: 5px;
    background-color: rgb(87, 211, 87);
    transition: all ease-in-out 0.2s;
}

main li:hover :is(span) {
    width: 50%;
}

main ul :is(a) {
    text-decoration: none;

    font-size: 0.8rem;
    color: #7d7f84;
}

figure {
    width: calc(100% / 6 - 10px);
    height: fit-content;

    padding: 0;
    margin: 0;
}

figure :is(img) {
    width: 100%;
}

figure :is(.overlay) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    transition: all ease-out 0.1s;
    transform: scale(0.2);
}

figure:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

figure:hover img {
    filter: brightness(40%);
}

figure :is(.fa-solid) {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

figcaption {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

figcaption :is(span) {
    font-size: 0.8rem;
    color: #7d7f84;
}

.recently-played {
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.logo-short {
    margin-bottom: 30px;
    display: none;
}

.logo-regular {
    margin-bottom: 30px;
    width: 70%;
}

/* tablet */
@media screen and (max-width: 750px) {
    figure {
        width: calc(100% / 4 - 10px);
    }
}

/* pre- mobile */
@media screen and (max-width: 550px) {
    figure {
        width: calc(100% / 2 - 10px);
    }
}

footer {
    color: white;
}

footer img {
    height: 60%;
}

/* bars */

.bars,
.time-lenght {
    height: 4px;
    border-radius: 2rem;
}

.bars {
    width: 100%;
    background-color: #000000;
}

.time-lenght {
    width: 50%;
    background-color: #c1c1c1;
}

.pointer {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    right: 50%;

    transform: translate(10px, -7px) scale(0);

    transition: all ease-in-out 0.2s;
}

.bars:hover .pointer {
    transform: translate(7.5px, -5.5px) scale(1);
}

.time-lenght:hover {
    background-color: rgb(87, 211, 87);
    transition: all ease-in-out 0.2s;
}

/* / bars */

/* footer */

.commands {
    width: 100%;
    height: 40px;

    gap: 30px;
}

.commands :is(.fa-solid) {
    font-size: 1.2rem;
}

.fa-circle-play {
    transform: scale(1.5);
}

.fa-heart,
.fa-folder {
    color: rgb(131, 131, 131);
}

.fa-folder:hover {
    color: white;
}

.bars .fa-regular.fa-heart:hover {
    color: white;
}

.bars-container {
    width: 100%;
    gap: 20px;
}

.block-left {
    width: 20%;
}

.block-center {
    width: 40%;
}

.block-right {
    width: 20%;
}

/* footer */
